#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  padding: 0.5rem;
  margin: 0.2rem;
}

button {
  margin: 10px;
}

span {
  margin-left: 4px;
  color: rgb(196, 148, 86);
}